---
import "./style.less";
import Features_1_1_img from "@imgs/features-1-1.png";
import Features_1_2_img from "@imgs/features-1-2.png";
import Features_1_3_img from "@imgs/features-1-3.png";
import Features_1_4_img from "@imgs/features-1-4.png";
import Features_1_5_img from "@imgs/features-1-5.png";
import Features_1_6_img from "@imgs/features-1-6.png";
import Features_2_img from "@imgs/features-2-img.png";
---

<div class="features">
  <div class="features__1">
    <h1><span>Changing</span> the way people learn new languages</h1>
    <div class="features__1__list">
      <div class="features__1__list__item">
        <img src={Features_1_1_img} alt="features_1_1_img" />
        <p>
          More than <strong>1000 language combinations</strong> so you can learn
          from your native language
        </p>
      </div>
      <div class="features__1__list__item">
        <img src={Features_1_2_img} alt="features_1_2_img" />
        <p>
          <strong>50 topics</strong> to prepare you for the most common situations
        </p>
      </div>
      <div class="features__1__list__item">
        <img src={Features_1_3_img} alt="features_1_3_img" />
        <p>
          <strong>36 vocabulary builders</strong> to install words fast for constant
          improvement
        </p>
      </div>
      <div class="features__1__list__item">
        <img src={Features_1_4_img} alt="features_1_4_img" />
        <p>
          <strong>41 real conversations</strong> to give you fluency in learning
          languages
        </p>
      </div>
      <div class="features__1__list__item">
        <img src={Features_1_5_img} alt="features_1_5_img" />
        <p>
          <strong>Grammar features & conjugation tables</strong> to shortcut your
          progress
        </p>
      </div>
      <div class="features__1__list__item">
        <img src={Features_1_6_img} alt="features_1_6_img" />
        <p>Quick <strong>Daily Lessons</strong> for constant improvement</p>
      </div>
    </div>
  </div>
  <div class="features__2">
    <div class="features__2__content">
      <div class="features__2__content__text">
        <h1>Boost your learning with <span>Dialect</span> plus</h1>
        <p>
          Learning with us is fun, and research shows that it works! Learning a
          language on Dialect is completely free, but you can remove ads and
          make faster progress with Plus. Try it free for 14 days!
        </p>
        <button>Start Learning</button>
      </div>
      <img src={Features_2_img} alt="features_2_img" />
    </div>
  </div>
</div>
