---
import "./style.less";
import TestimonialAvatar1 from "@imgs/testimonial-avt-1.png";
import TestimonialAvatar2 from "@imgs/testimonial-avt-2.png";
import TestimonialAvatar3 from "@imgs/testimonial-avt-3.png";
import TestimonialFooterMark from "@imgs/testimonial-footer-mark.png";
---

<div class="testimonial">
  <div class="testimonial__header">
    <h1>People love <span>Dialect</span></h1>
    <p>
      Learning with us is fun, and research shows that it works! Learning a
      language on Dialect is completely free.
    </p>
  </div>
  <div class="testimonial__list">
    <div class="testimonial__list__item">
      <div class="testimonial__list__item__header">
        <img src={TestimonialAvatar1} alt="testimonial-avt-1" />
        <div class="testimonial__list__item__header__text">
          <h1>Moskur Alam</h1>
          <p>CEO of Web Design</p>
        </div>
      </div>
      <div class="testimonial__list__item__content">
        <p>
          Dialect is excellent - short and sweet and effective lessons and great
          quick review which is key to remembering. I love it! I’m learning
          Dutch!! I enjoy the dialogues and scenarios, which include helpful
          phrases that can be used in various situations.
        </p>
      </div>
      <div class="testimonial__list__item__footer">
        <img src={TestimonialFooterMark} alt="testimonial-footer-mark" />
        <hr />
      </div>
    </div>
    <div class="testimonial__list__item">
      <div class="testimonial__list__item__header">
        <img src={TestimonialAvatar2} alt="testimonial-avt-2" />
        <div class="testimonial__list__item__header__text">
          <h1>Moskur Alam</h1>
          <p>CEO of Web Design</p>
        </div>
      </div>
      <div class="testimonial__list__item__content">
        <p>
          Dialect is excellent - short and sweet and effective lessons and great
          quick review which is key to remembering. I love it! I’m learning
          Dutch!! I enjoy the dialogues and scenarios, which include helpful
          phrases that can be used in various situations.
        </p>
      </div>
      <div class="testimonial__list__item__footer">
        <img src={TestimonialFooterMark} alt="testimonial-footer-mark" />
        <hr />
      </div>
    </div>
    <div class="testimonial__list__item">
      <div class="testimonial__list__item__header">
        <img src={TestimonialAvatar3} alt="testimonial-avt-3" />
        <div class="testimonial__list__item__header__text">
          <h1>Moskur Alam</h1>
          <p>CEO of Web Design</p>
        </div>
      </div>
      <div class="testimonial__list__item__content">
        <p>
          Dialect is excellent - short and sweet and effective lessons and great
          quick review which is key to remembering. I love it! I’m learning
          Dutch!! I enjoy the dialogues and scenarios, which include helpful
          phrases that can be used in various situations.
        </p>
      </div>
      <div class="testimonial__list__item__footer">
        <img src={TestimonialFooterMark} alt="testimonial-footer-mark" />
        <hr />
      </div>
    </div>
  </div>
</div>
